.carousel {
    min-height: 400px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    background-color: #f6f6f6;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--lab-black);
    position: relative;
}
.carousel .contenedor {
    position: relative;
    z-index: 2;
}
.carousel-logo,
.carousel-sub-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-logo {
    margin-bottom: 2rem;
}
.carousel-logo img {
    max-width: 150px;
}
.carousel-sub-logo {
    text-transform: uppercase;
    font-family: oswald;
    font-weight: 500;
    margin-top: 2rem;
}
.carousel-sub-logo img {
    max-width: 100px;
}
.carousel-text {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.carousel h3 {
    font-family: oswald;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 1.25;
    letter-spacing: -2px;
}
.carousel h4 {
    margin-top: 1rem;
    text-transform: uppercase;
    font-family: oswald;
    font-size: 1.25em;
    line-height: 1.25;
}
.carousel-link {
    margin-top: 2rem;
}
.carousel .btn {
    font-size: 1.25em;
    padding: 1rem 2rem; 
}
.slide-01 .carousel h3 { 
    font-size: 2em; 
}

@media (max-width: 599px) {
.carousel h3 br {
    display: none;
}    
}
@media (min-width: 600px) {
.carousel-logo {
    margin-bottom: 3rem;
}
.carousel-logo img {
    max-width: 250px;
}
.carousel-sub-logo { 
    margin-top: 3rem;
}
.carousel-sub-logo img {
    max-width: 180px;
}
}
@media (min-width: 900px) {
.carousel {
    min-height: 600px;
}
.carousel-text {
    max-width: 75%; 
}
.carousel h3 {
    font-size: 4em;
}
.slide-01 .carousel h3 { 
    font-size: 3.5em; 
}
}
@media (min-width: 1440px) {
.carousel {
    min-height: 700px;
}
.carousel h4 {
    margin-top: 2rem;
}
}

.deco {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45%; 
    background-size: cover;
    z-index: 1;
}
.deco-left {
    left: 0;
    background-position: center right;
}
.deco-right {
    right: 0;
    background-position: center left;
}
@media (min-width: 900px) {
.deco {
    width: 25%;
}
}

.about {
    background-size: contain;
    background-position: center; 
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-repeat: no-repeat;
    background-position: 60vw center;
}
.about--text h3 {
    color: var(--lab-black);
    text-transform: uppercase;
    font-family: oswald;
    font-size: 3em;
    line-height: 1.125;
    letter-spacing: -2px;
}
.about--text p {
    display: none;
    font-family: oswald;
    color: var(--lab-black);
    font-size: 1.5em;
    margin-top: 2rem;
    max-width: 85%;
}
.about--link {
    margin-top: 2rem;
}
@media (min-width: 480px) {
.about--block {
    max-width: 80%;
}
}
@media (min-width: 600px) {
.about--text h3 {
    font-size: 3.5em;
}
.about--text p {
    display: block;
}
}
@media (min-width: 900px) {
.about {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.about--block {
    max-width: 70%;
}   
}
@media (min-width: 1200px) {
.about {
    background-position: right center;
}    
}

.experiences-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.experiences-item {
    flex-basis: 50%;
    max-width: 50%;
}
.experiences {
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: relative;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
.experiences-item-01 .experiences {
    background-position: center right;
}
.experiences-item-04 .experiences {
    background-position: center left;
}
.new-tracks-fix .experiences-item-01 .experiences,
.new-tracks-fix .experiences-item-04 .experiences,
.why-attend-fix .experiences-item-04 .experiences {
    background-position: center;
}
.experiences h3 {
    text-transform: uppercase;
    font-family: oswald;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    line-height: 1.25;
    position: relative;
    z-index: 2;
    color: white;
}
.experiences span {
    color: white;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-family: oswald;
    display: inline-block;
    border: 2px solid white;
    padding: .5rem 1rem;
    transform: translate3d(0,-100%,0);
    margin-top: -44px;
    opacity: 0;
    background-color: transparent;
    transition: .3s opacity, .3s transform, .3s color, .3s background-color;
}
.experiences:hover span {
    opacity: 1; 
    transform: translate3d(0,115%,0);
    background-color: white;
    color: var(--lab-black);
} 
@media (max-width: 699px) {
.why-attend-fix .experiences-item:last-child {
    flex-basis: 100%;
    max-width: 100%;
}
}
@media (min-width: 700px) {
.experiences-item {
    flex-basis: 25%;
    max-width: 25%;
} 
.why-attend-fix .experiences-item {
    flex-basis: 20%;
    max-width: 20%;
}  
}
@media (min-width: 900px) {
.experiences {
    min-height: 500px;
}  
}
@media (min-width: 1200px) {
.experiences {
    min-height: 550px;
}
.experiences h3 {
    font-size: 2.25em;
}
}

.experiences--cover {
    background-color: #f3f3f2;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.experiences--cover .contenedor {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.experiences--cover-title,
.experiences--cover-text {
    flex-basis: 100%;
    max-width: 100%;
}
.experiences--cover-title .block--title {
    text-align: left;
    font-size: 3.5em;
    margin-bottom: 1.5rem;
}
.experiences--cover-text {
    color: var(--lab-black);
    font-family: oswald;
    font-size: 1.75em; 
}

.experiences--link {
    text-align: center;
    display: block;
    background-color: var(--lab-black);
    color: white;
    text-transform: uppercase;
    padding: 1.5rem 0 1.75rem;
}
.experiences--link a {
    font-family: oswald;
    display: inline-block;
    border-bottom: 2px solid white;
    transition: .3s border-bottom-color;
}
.experiences--link a:hover {
    border-bottom-color: transparent;: 
}

@media (min-width: 900px) {
.experiences--cover-title,
.experiences--cover-text {
    flex-basis: 50%;
    max-width: 50%;
}   
.experiences--cover-title .block--title {
    margin-bottom: 0;
} 
}
@media (min-width: 1200px) {
.experiences--cover-title {
    flex-basis: 35%;
    max-width: 35%;
}   
}

.joining-container {
    background-color: var(--lab-ambar);
    color: white;
    text-align: center;
    font-family: oswald;
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.joining-container .block--title {
    font-size: 1.5em;
    color: white;
}
.joining {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.joining p {
    font-size: 2.25em;
    font-weight: 500;
}
@media (min-width: 1200px) {
.joining p {
    font-size: 3em;
}    
}

.tracks-block {
    background-image: url(bgs/bg_tracks_opt.jpg);
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 400px;
}
.div-tracks-container:not(:first-child) {
    margin-top: 5rem;
}
.tracks-block .block--title {
    font-size: 4em;
    margin-bottom: 1rem;
    letter-spacing: -2px;
}
.tracks-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.tracks-item {
    margin-top: 1rem;
    flex-basis: 50%;
    max-width: 50%;
}
.tracks {
    padding-left: 2rem;
    padding-right: 2rem;
}
.tracks--icon {
    max-width: 150px;
    margin: auto;
}
.tracks--text {
    text-transform: uppercase;
    font-family: oswald;
    font-weight: 500;
    color: var(--lab-black);
    font-size: 1.125em;
}

@media (min-width: 600px) {
.tracks-item {
    flex-basis: 25%;
    max-width: 25%;
}
}
@media (min-width: 1200px) {
.tracks-item {
    flex-basis: 20%;
    max-width: 20%;
}
}

.location {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--lab-green); 
    position: relative;
}
.location--bg {
    position: absolute;
    z-index: 0;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
}
.location--contenedor {
    position: relative;
    z-index: 1;
}
.location--block {
    background-color: var(--lab-blue);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.location--text {
    padding: 5rem 2rem; 
    color: white;
    padding-left: 5rem;
}
.location--text h4 {
    color: var(--lab-yellow);
    font-family: oswald;
    text-transform: uppercase;
    font-size: 2em;
    display: inline-block;
    border-bottom: 3px solid var(--lab-yellow);
    padding-bottom: .5rem;
    position: relative;
}
.location--text h4::before {
    content: '';
    width: 26px;
    height: 38px;
    position: absolute;
    background-image:url(icons/map.png);
    background-repeat: no-repeat;
    background-position: center;
    left: -34px;
    top: 0;
}
.location--text p {
    margin-top: 1rem;
    font-size: 1.25em;
    line-height: 1.5;
}
.location--map img {
    width: 100%;
    max-width: 100%;
}
.location--map iframe {
    width: 100%;
    height: 250px;
    display: block;
}
@media (min-width: 600px) {
.location--block {
    max-width: 60%;
    margin-left: 0;
}  
}
@media (min-width: 900px) {
.location {
    padding-top: 8rem;
    padding-bottom: 3rem;
}
.location--block {
    max-width: 45%; 
} 
.location--map iframe {
    height: 450px;
} 
}

/* COSAS EXTRAS */

.experiences::before {
    content: '';
    z-index: 2;
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: var(--lab-black);
    opacity: 0.15;
}

.joining-block,
.why-attend-block,
.buy-tickets-block {
    margin-bottom: -80px;
}
#attend,
#tickets,
#schedule {
    padding-top: 80px;
}
#attend {
    position: relative;
    z-index: 2;
}