.title {
    font-family: oswald;
    text-transform: uppercase;
    font-size: 3.75em;
    margin-left: -.25rem;
    color: var(--lab-black);
}
.subtitle {
    text-transform: uppercase;
    font-family: oswald;
    color: var(--lab-black);
    font-family: 500;
    font-size: 2em;
    margin-bottom: 1rem;
}
.subtitle a {
    display: inline-block;
    border-bottom: 3px solid var(--lab-black);
    padding-bottom: .5rem;
    transition: .3s border-bottom-color;
}
.subtitle a:hover {
    border-bottom-color: transparent; 
}

.awbg {
    background-position: center;
    background-size: cover;
    background-color: black;
    background-blend-mode: luminosity;
    position: relative;
}
.awbg::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
.awhite .title,
.awhite [class*="aw-"] p, 
.awhite [class*="aw-"] li,
.awhite .aw-body h4 {
    color: white;
}


.aw .contenedor {
    padding-bottom: 5rem;
    position: relative;
    z-index: 1;
}
.aw-only {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
}
.awhite .aw-only {
    min-height: 500px;
}

[class*="aw-only-"] {
    margin-top: 5rem;
}
.aw-only-image,
.aw-only-text {
    flex-basis: 100%;
    max-width: 100%;
}

.aw-image img {
    max-width: 100%;
}

.aw-head { 
    margin-bottom: 3rem;
}
.aw-intro,
.intro {
    font-size: 1.35em;
    line-height: 1.5; 
}
@media (min-width: 900px) {
.aw-only-image {
    flex-basis: 50%;
    max-width: 50%;
}
.aw-only-text {
    order: -1;
    flex-basis: 45%;
    max-width: 45%;
}
.awhite .aw-only-text {
    order: 0;
    flex-basis: 70%;
    max-width: 70%;
}

.aw-intro {
    max-width: 75%;
}
}
@media (min-width: 1200px) {
.aw-intro {
    max-width: 80%;
}
}
@media (min-width: 1440px) {
.aw-intro {
    max-width: 90%;
}
}

.aw-body > div > :not(:first-child) {
    margin-top: 1rem;
}
[class*="aw-"] p, 
[class*="aw-"] li {

    margin-top: 1rem;
    line-height: 1.5;
    font-size: 1.125em;
    position: relative;

}
[class*="aw-"] li {
    padding-left: 1rem;
}
[class*="aw-"] li::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--lab-ambar);
    display: block;
    left: 0;
    top: 8px;
    position: absolute;
    border-radius: 50%;
}
[class*="aw-"] hr {
    border-bottom: 0;
    border-top: 1px solid #ddd;
}
.aw-body h4 {
    text-transform: uppercase;
    font-family: oswald;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--lab-black);
}

/* ---- */

.line-top {
    border-top: 1px solid #ddd;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.mainpage-formcontent.line-top {
    padding-top: 6rem;
}
@media (min-width: 600px) {
.mainpage-formcontent.line-top {
    padding-top: 7rem;
}   
}

.paragraph {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
} 
.paragraph--text > h4 {
    text-transform: uppercase;
    color: var(--lab-black);
    font-family: oswald;
    letter-spacing: -2px;
    font-size: 2.5em;
    margin-bottom: 2rem;
    font-weight: 500;
}
.paragraph--text > div > * {
    margin-top: 1rem;
    line-height: 1.5;
}
.paragraph--text > div h4 {
    font-size: 1.25em;
    font-weight: 500;
} 
.paragraph--image img {
    max-width: 100%;
}
@media (min-width: 600px) {
.paragraph--text {
    flex-basis: 55%;
    max-width: 55%;
} 
.paragraph--image {
    flex-basis: 40%;
    max-width: 40%;
}  
}

.logoslink-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.logoslink-item {
    max-width: 50%;
    flex-basis: 50%;
    margin-top: 2rem;
}
.logoslink-item img {
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 600px) {
.logoslink-item {
    max-width: 25%;
    flex-basis: 25%; 
}
}

.body-secondary-field .block--minititle {
    margin-bottom: 2rem;
}

.body-secondary > div {
    overflow-y: auto;
    display: block;
    width: 100%;
}
.line-top.body-secondary-field {
    padding-bottom: 0;
    margin-top: 5rem;
}
.awhite + .awsec > .contenedor > [class*="body"] {
    margin-top: 0;
}

/* TABLES */
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
thead {
    font-family: oswald;
}
th, 
td {
    padding: .5rem; 
    border: 1px solid var(--lab-black);
    display: table-cell;
    min-width: 100px;
}
td {
    font-size: 13px;
}
th {
    font-weight: 500;
}
tr > :first-child {
    background-color: #ccc;
    color: white;
    text-align: left;
    padding-left: 1rem;
    max-width: 150px;
    font-size: 14px;
    color: var(--lab-black);
    min-width: 225px;
}
thead tr > :first-child {
    background-color: var(--lab-gray);
    color: white;
    text-transform: uppercase;
}
tr > :nth-child(2), 
tr > :nth-child(8) {
    background-color: var(--lab-blue);
    color: white;
}
tr > :nth-child(3), 
tr > :nth-child(7) {
    background-color: var(--lab-green);
    color: var(--lab-black);
}
tr > :nth-child(4), 
tr > :nth-child(6) {
    background-color: var(--lab-ambar);
    color: var(--lab-black);
}
tr > :nth-child(5) {
    background-color: var(--lab-red);
    color: white;
}
tr > td.nope {
    background-color: #ccc;
}

/* FORMS */
.forms form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.forms .form-item,
.forms .form-item-industry-university-career + div,
.forms [id*='ajax-wrapper'],
.forms .js-form-type-textarea {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    position: relative;
}
.forms .form-item label {
    text-transform: uppercase;
    display: block;
    font-family: oswald;
    margin-bottom: .25rem;
    font-size: 1.25em;
}
.forms .form-item input:not([type='checkbox']),
.forms .form-item select,
.forms .form-item textarea {
    border: 1px solid var(--lab-gray);
    padding: .5rem;
    width: 100%;
    font-family: Roboto;
    color: var(--lab-gray);
    font-size: 1.25em;
    background-color: #f5f5f5;
    transition: .3s background-color;
}
.forms .form-item input:not([type='checkbox']):hover,
.forms .form-item select:hover,
.forms .form-item input:not([type='checkbox']):focus,
.forms .form-item select:focus {
    background-color: white;
}
.forms .form-actions {
    flex-basis: 100%;
    max-width: 100%;
}
.forms .description {
    font-size: 10px;
    margin-top: .25rem;
}
.forms .form-item .form-submit {
    position: absolute;
    top: 37px;
    max-width: 20%;
    right: 2px;
    z-index: 2;
}
.forms .form-item.js-form-type-checkbox label {
    display: inline-block;
    font-size: 15px;
    margin-left: .5rem;
}
@media (min-width: 480px) {
.forms .form-item,
.forms .form-item-industry-university-career + div,
.forms [id*='ajax-wrapper'] {
    flex-basis: 48%;
    max-width: 48%;
}
.forms .js-form-type-textarea,
.forms .js-form-type-processed-text {
    flex-basis: 100%;
    max-width: 100%;
}
.forms .form-item-industry-university-career + div,
.forms .form-item-industry-university-career + div .form-item,
.forms [id*='ajax-wrapper'] {
    max-width: 100%!important;
}
}
@media (min-width: 900px) {
.forms form {
    max-width: 70%;
}
}

/* BRAVO FORMS */
.bravo-block {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.25em;
}
.bravo-block h4 { 
    font-family: oswald;
    text-transform: uppercase;
    display: block;
    color: var(--lab-black);
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 1rem;
    position: relative;
    margin-top: 1rem;
}
.bravo-block h4::before {
    content: '';
    width: 3rem;
    height: 4px;
    position: absolute;
    display: block;
    background: 
        linear-gradient(
            to right, 
            var(--lab-red) 0%,
            var(--lab-red) 24.9%,
            var(--lab-green) 25%,
            var(--lab-green) 49.9%,
            var(--lab-ambar) 50%,
            var(--lab-ambar) 74.9%,
            var(--lab-blue) 75%,
            var(--lab-blue) 100%);
    top: -32px;
    left: 0;
    right: 0;
    margin: auto;
}
.bravo-block p {
    margin-top: 1rem;
}
@media (min-width: 900px) {
.bravo-block {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}
}

/* SPONSORS */
.sponsors:not(:first-child) {
    margin-top: 3rem;
}
.sponsors .block--title {
    margin-bottom: 1rem;
}
.sponsors .block--inner > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.sponsors-3 .block--inner > div > div {
    flex-basis: 100%;
    max-width: 100%;
}
.sponsors-4 .block--inner > div > div {
    flex-basis: 49%;
    max-width: 49%;
}
.sponsors-5 .block--inner > div > div {
    flex-basis: 31%;
    max-width: 31%;
}
.sponsors-6 .block--inner > div > div {
    flex-basis: 24%;
    max-width: 24%;
}
.sponsors .logos img {
    width: 100%;
    max-width: 100%;
}
.sponsors .block--title {
    color: var(--lab-red);
}
.sponsors:nth-child(2) .block--title {
    color: var(--lab-blue);
}
.sponsors:nth-child(3) .block--title {
    color: var(--lab-ambar);
}
.sponsors:nth-child(4) .block--title {
    color: var(--lab-green)
}
@media (min-width: 600px) {
.sponsors-3 .block--inner > div > div {
    flex-basis: 30%;
    max-width: 30%;
}
.sponsors-4 .block--inner > div > div {
    flex-basis: 24%;
    max-width: 24%;
}
.sponsors-5 .block--inner > div > div {
    flex-basis: 19%;
    max-width: 19%;
}
.sponsors-6 .block--inner > div > div {
    flex-basis: 15.8%;
    max-width: 15.8%;
}    
}

/* GALLERY */
.photoswipe-gallery {
    max-width: 80%;
    margin: auto;
}
.photoswipe-gallery figure {
    margin-top: 2rem;
    border: 2px solid var(--lab-blue); 
}
.photoswipe-gallery figure a {
    padding: 2rem;
    display: block;
}
.photoswipe-gallery img {
    max-width: 100%;
}
.photoswipe-gallery p {
    text-align: center;
    color: var(--lab-blue);
    padding-bottom: .5rem;
}

/* ACORDION */
.faq-item:not(:first-child) {
    margin-top: 1rem;
}
.card-header h5 a {
    display: block;
    background: #f5f5f5;
    padding: 1rem;
    color: var(--lab-black);
    text-transform: uppercase;
    font-family: oswald;
    font-size: 1.5em;
    font-weight: 500;
    position: relative;
}
.card-header h5 a::after {
    content: '-';
    right: 1rem;
    position: absolute;
}
.card-header h5 a.collapsed::after {
    content: '+';
}
.collapse {
    display: none;
}
.collapse.in {
    padding-top: 0 !important;
    display: block;
}
.collapsing {
    height: 0;
    overflow: hidden;
    position: relative;
    transition: .3s height ease; 
} 
.card-body > div {
    padding: 2rem;
    line-height: 1.5;
    border: 1px solid #eee;
}

.aw-image {
    position: relative;
}
.aw-image::before {
    content: '';
    width: 100%;
    position: absolute;
    height: 100%;
    background: black;
    mix-blend-mode: hue;
}

.faqs-views [class*="js-"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.faqs-views .views-row {
    max-width: 49%;
    flex-basis: 49%;
    text-align: center;
    margin-bottom: 1rem;
}
.link-to {
    border: 1px solid #ccc;
    display: block;
    padding: 2rem .5rem;
    transition: .3s background-color,.3s color;
    background-color: transparent;
    color: var(--lab-gray);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-to:hover {
    background-color: var(--lab-black);
    color: white;
}
.link-to h5 {
    font-family: oswald;
    font-weight: 500;
    text-transform: uppercase;
}

.faqs .card-body div > * {
    line-height: 1.5;
    font-size: 1.25em;
    margin-bottom: 1rem;
}
.faqs .card-body div li {
    padding-left: 1rem;
    position: relative;
}
.faqs .card-body div li::before {
    content: '';
    border: 1px solid var(--lab-gray);
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 12px;
}
@media (min-width: 900px) {
.faqs-views .views-row {
    flex-basis: 32%;
    max-width: 32%;
}
}

.node-faqs .aw-head {

    margin-bottom: 0;

}