.modal {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    background: rgba(255,255,255,.85);
    overflow: hidden;
    display: none;
    padding-top: 0 !important;
    opacity: 0;
    transition: .3s opacity;
}
.modal-open .modal.in {
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
}

.modal-dialog {
    max-width: 90vw;
    margin: 5vh auto;
    background-color: white;
    min-height: 90vh;
    transform: translate3d(0,-100vh,0);
    transition: .3s transform;
}
.modal-open .modal-dialog {
    transform: translate3d(0,0,0);
}

@media (min-width: 600px) {
.modal-dialog {
    max-width: 70vw;
    margin: 10vh auto;
    min-height: 80vh;
}   
}

@media (min-width: 900px) {
.modal-dialog {
    max-width: 40vw;  
}   
}

.modal-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.modal-header {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: var(--lab-blue);
    background-blend-mode: color-burn;
}
.modal-item-02 .modal-header {
    background-color: var(--lab-green);
}
.modal-item-03 .modal-header {
    background-color: var(--lab-yellow);
}
.modal-item-04 .modal-header {
    background-color: var(--lab-red);
}
.modal-title {
    color: white;
    text-transform: uppercase;
    font-family: oswald;
    font-size: 2.5em;
    line-height: 1.25;
    position: relative;
    z-index: 2;
    text-align: center;
}
.modal-body {
    padding: 4rem;
    color: var(--lab-black);
    font-family: oswald;
    font-size: 1.25em;
    text-align: center;
}

.close {
    color: white;
    background-color: transparent;
    border: 0;
    font-size: 3em;
    position: absolute;
    top: 0;
    right: 1rem;
    cursor: pointer;
}