html {
  scroll-behavior: smooth;
}
.headerpage {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: white;
}
.headerpage-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (max-width: 599px) {
.head--branding img {
    max-width: 100px;
}
}

.logo img {
    max-width: 110px; 
}
.menu--main { 
    transition: none;
}
.mi-menu-main {
    display: flex; 
}
.mi-menu-item { 
    position: relative;
}
@media (min-width: 900px) {
.mi-menu-item:last-child {
    margin-left: 1rem;
}    
}
.mi-menu-link {
    text-transform: uppercase;
    font-family: oswald;
    font-weight: 500;
    font-size: 1.125em;
    line-height: 1;
    display: inline-block;
    padding: .5rem 1rem;
    position: relative;
    transition: .25s opacity, .25s color, .25s background-color;
    color: var(--lab-black);
}
.menu-item--active-trail .mi-menu-link,
.menu-item.active .mi-menu-link,
.mi-menu-link.is-active {
    color: var(--lab-blue);
}
:last-child > .mi-menu-link {
    background-color: var(--lab-red);
    color: white; 
}
.menu-item.active:last-child > .mi-menu-link {
    color: white;
    background-color: var(--lab-green);
}
.mi-menu-link:hover {
    opacity: .75;
}
@media (min-width: 900px) {
.mi-menu-link { 
    font-size: 1em;  
}    
}

.mi-menu-sub {
    position: absolute;
    z-index: 2;
    background-color: white;
    top: 100%;
    left: 0;
    padding: 0 1rem;
    background-color: #f5f5f5;
    min-width: 200%;
    overflow: hidden;
    max-height: 0;
    height: auto;
    transition: .25s max-height;
}
.open .mi-menu-sub {
    max-height: 1000px;
}
.mi-menu-link-sub {
    color: #888;
    display: block;
    line-height: 1;
    padding: .5rem 0;
    transition: .25s color;
}
.mi-menu-link-sub.is-active {
    color: var(--lab-green);
}
.mi-menu-item-sub:first-child {
    margin-top: .5rem;
}
.mi-menu-link-sub:hover {
    color: red;
}
.mi-menu-item-sub:last-child {
    margin-bottom: .5rem;
}
.mi-dropdown::after {
    content: '';
    width: 8px;
    height: 8px;
    display: block;
    border-bottom: 2px solid var(--lab-black);
    border-right: 2px solid var(--lab-black);
    position: absolute;
    right: 0;
    top: -4px;
    bottom: 0;
    margin: auto;
    transform: rotate(52.5deg) skewX(15deg);
    transition: .25s transform;
}
.open .mi-dropdown::after {
    transform: rotate(-125.5deg) skewX(15deg);
}

.head--burger {
    display: none;
}
.toggle { 
    width: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    position: relative;
    font-size: 1.5em;
}
.toggle span {
    display: block;
    position: absolute;
    line-height: 40px;
    left: 0;
    right: 0;
    opacity: 1;
    transition: .25s opacity;
}
.toggle span:last-child {
    opacity: 0;
    font-size: 1.5em;
}
.site-menu .toggle span:last-child {
    opacity: 1; 
}
.site-menu .toggle span:first-child {
    opacity: 0;
}

@media (min-width: 900px) {
.mi-menu-item:hover .mi-menu-sub {
    max-height: 1000px;
} 
.mi-menu-item:hover .mi-dropdown::after {
    transform: rotate(-125.5deg) skewX(15deg);
}  
}

@media (max-width: 899px) {
[class*="head--"] {
    position: relative;
    z-index: 2;
}
.head--burger {
    display: block;
}

.menu--main {
    display: block;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    transform: translate3d(0,-100%,0);
    padding-top: 6rem;
    transition: .5s transform;
    overflow-y: auto;
}
.site-menu .menu--main {
    transform: translate3d(0,0,0);
}
.mi-menu-main {
    padding-left: var(--espacios);
    padding-right: var(--espacios);
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: var(--espacios);
}
.mi-menu-item {
    flex-basis: 100%;
    margin-left: 0;
    margin-top: .5rem;
}
.mi-menu-item:last-child {
    order: -1;
    margin-bottom: 1rem;
}
.mi-menu-link {
    width: 100%;
    background-color: #04D133;
}
.mi-menu-sub {
    position: relative;
    top: auto;
    min-width: 100%;
}

.mi-dropdown::after {
    right: 1rem;
}
}

/* PAGINAS INSITU */
.block--title {
    font-size: 3em;
    font-weight: 500;
    text-transform: uppercase;
    font-family: oswald;
    color: var(--lab-black);
    text-align: center;
}
.block--subtitle {
    text-transform: uppercase;
    font-family: oswald;
    font-size: 1.5em;
    margin-bottom: .5rem;
}

.btn,
.button {
    background-color: var(--lab-gray);
    color: white;
    font-family: oswald;
    display: inline-block;
    padding: .75rem 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s background-color, .3s color;
    border: 0;
}
.btn:hover,
.button:hover {
    background-color: var(--lab-black);
}
.btn--blue {
    background-color: var(--lab-blue);
}
.btn--green {
    background-color: var(--lab-green);
}
.btn--red {
    background-color: var(--lab-red);
}
.btn--white {
    background-color: white;
    color: var(--lab-black);
}
.btn--ambar {
    background-color: var(--lab-ambar);
    color: var(--lab-black);
}
.btn--white:hover,
.btn--ambar:hover {
    color: white;
}

.mainpage {
    padding-top: 80px;
}
@media (max-width: 599px) {
.mainpage {
    padding-top: 72px;
}    
}

.footerpage {
    background-color: var(--lab-gray);
    padding-top: 4rem;
    padding-bottom: 5rem;
}

[class*='foo--'] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
[class*='foo--'] > *:first-child {
    flex-basis: 45%;
    max-width: 45%;
}
[class*='foo--'] > *:last-child {
    flex-basis: 35%;
    max-width: 35%;
}
.foot--footer {
    flex-basis: 20%;
    max-width: 20%;
}
@media (max-width: 599px) {
[class*='foo--'] > *:first-child,
[class*='foo--'] > *:last-child,
.foot--footer {
    flex-basis: 100%;
    max-width: 100%;
}  
.foot--footer .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.foot--footer .menu li {
    flex-basis: auto;
    min-width: 50px;
    margin-right: 2rem;
}
}
.foot--footer .menu li a {
    font-family: oswald;
    text-transform: uppercase;
    margin-bottom: .5rem;
    display: inline-block;
}

.foo--top > * {
    margin-bottom: 3rem;
}
.foo--bottom {
    border-top: 1px solid white; 
}
.foo--bottom > * {
    margin-top: 3rem; 
}

.data-links {
    display: flex;
    margin-top: 1.5rem;
}
.data-link {
    margin-right: .5rem;
}
.dlink img {
    max-width: 2rem;
    filter: invert(1);
    transition: .3s opacity;
}
.dlink:hover img {
    opacity: .5;
}

[class*='foot--'] .block--inner {
    color: white;
}
[class*='foot--'] .menu a,
[class*='foot--'] .block--inner a {
    color: white;
    transition: .3s opacity;
}
[class*="foot--"] .menu a:hover, 
[class*="foot--"] .block--inner a:hover {
    opacity: .75;
}
.foot--menu .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.foot--menu .menu-item {
    min-width: 25%;
    margin-bottom: 1.5rem;
}
.foot--menu .menu-link {
    font-family: oswald;
    font-weight: 700;
    text-transform: uppercase;
}
.foot--menu .menu-sub {
    max-width: 100px;
}
.foot--menu .menu-item-sub {
    margin-top: .75rem;
}
.foot--menu .menu-link-sub {
    line-height: 1;
}
.foot--menu .menu-item:last-child {
    display: none;
}

.copyright--text {
    text-align: right;
    margin-bottom: 2rem;
    font-size: 1.125em;
    line-height: 1.5;
}
.copyright--text a {
    display: inline-block;
    border-bottom: 1px solid white;
    transition: .3s border-bottom-color;
}
.copyright--text a:hover {
    border-bottom-color: transparent;
}
.copyright--image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.copyright--image div {
    margin-left: 2rem;
}
@media (max-width: 599px) {
.copyright--text {
    text-align: left;
}
.copyright--image {
    justify-content: flex-start;
} 
.copyright--image div {
    margin-right: 2rem;
    margin-left: 0;
}  
}
@media (min-width: 900px) {
.foot--menu .menu-item { 
    margin-right: 0;
}    
}

/* LOGIN */
.in {
    padding-top: 78px!important;
    position: relative;
}
.in .headerpage {
    top: 78px;
}

.only-tabs .block--inner ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: var(--espacios);
    padding-right: var(--espacios);
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.only-tabs .block--inner ul li {
    margin-right: .75rem;
}
.only-tabs .block--inner ul li a {
    color: #888;
    font-size: 14px;
    transition: .25s color;
}
.only-tabs .block--inner ul li a:hover,
.only-tabs .block--inner ul li a.is-active {
    color: var(--lab-black);
}
.only-tabs .block--inner ul li a.is-active {
    font-weight: 700;
}

[class*="swiper-button"] {
    background-image: none;
    width: 2rem;
    height: 2rem;
    border-bottom: 5px solid white;
}
.swiper-button-next {
    border-right: 5px solid white;
    transform: rotate(-45deg);
    right: 1rem;
}
.swiper-button-prev {
    border-left: 5px solid white;
    transform: rotate(45deg);
    left: 1rem;
}
@media (min-width: 1200px) {
.swiper-button-next {
    right: 3rem;
}
.swiper-button-prev {
    left: 3rem;
}
}

@media (min-width: 480px) {
.swiper-container .swiper-pagination {
    bottom: 2rem;
}
}

.swiper-pagination-bullet {
    border-radius: 0;
    width: 2rem;
    height: 0;
    background-color: transparent;
    border-bottom: 2px solid var(--lab-black);
    border-top: 2px solid transparent;
    transition: .3s all;
}
.swiper-pagination-bullet-active {
    border-top-color: var(--lab-black);
}

.mailchimp-block {
    flex-basis: 35%;
    max-width: 35%;
    align-self: center;
}

.mailchimp-block .block--title {
    color: white;
    font-size: 2em;
    text-align: left;
    margin-bottom: 1rem;
}
.mailchimp-block label {
    display: none;
}
.mailchimp-signup-subscribe-form {
    display: flex;
}
.mailchimp-signup-subscribe-form > div:first-child {
    flex-basis: 60%;
    max-width: 60%;
}
.mailchimp-signup-subscribe-form > div:last-child {
    flex-basis: 40%;
    max-width: 40%;
}
.mailchimp-signup-subscribe-form input {
    width: 100%;
    border: 2px solid white; 
    padding: .5rem .5rem .6rem;
    color: white;
    font-family: oswald;
    background-color: transparent;
    line-height: 1;
    font-size: 1.25em;
    height: 42px;
}
.mailchimp-signup-subscribe-form input[type="email"] {
    border-right: 0;
}
.mailchimp-signup-subscribe-form input[type="submit"] {
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s color, .3s background-color;
}
.mailchimp-signup-subscribe-form input[type="submit"]:hover,
.mailchimp-signup-subscribe-form input[type="submit"]:active,
.mailchimp-signup-subscribe-form input[type="submit"]:focus {
    color: var(--lab-gray);
    background-color: white;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem; 
    margin-bottom: 1rem;
    border: 1px solid transparent; 
    border-radius: .25rem;
}
.alert-dismissible {
    padding-right: 4rem;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    padding: .5rem;
    line-height: 1;
    color: inherit;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.block--minititle {
    text-transform: uppercase;
    font-family: oswald;
    color: var(--lab-black);
    text-align: center;
    letter-spacing: 4px;
    font-size: 1.25em;
}

/* TICKETS: grand-cost-sold */
.grant-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grant-container {
    max-width: 100%;
    flex-basis: 100%;
    border: 1px solid var(--lab-ambar);
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 2rem;
}
@media (min-width: 600px) {
.grant-container {
    max-width: 48%;
    flex-basis: 48%;
}
}
@media (min-width: 900px) {
.grant-container  {
    max-width: 31%;
    flex-basis: 31%;
}  
}
.grant-header {
    padding: 1rem .5rem;
    background-color: var(--lab-ambar);
    color: white;
}
.grant-header h4 {
    color: white;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-family: oswald;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: .5rem;
}
.grant-cost {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}
.grant-cost > * {
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem .5rem;
    border-top: 1px solid var(--lab-ambar);
    border-bottom: 1px solid var(--lab-ambar);
    position: relative;
    opacity: .25;
}
.grant-cost-past {
    border-right: 1px solid var(--lab-ambar);
}
.grant-cost .grant-cost-actual {
    flex-basis: 100%;
    max-width: 100%;
    border-bottom: 0;
    opacity: 1;
}
.grant-cost h5 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: .5rem;
}
.grant-cost-actual h5 {
    font-family: oswald;
    font-size: 1em;
    color: var(--lab-ambar);
    font-weight: 500;
}
.grant-cost p {
    font-weight: 700;
    margin: 0;
    font-size: 1.25em;
    line-height: 1;
    color: var(--lab-black);
}
.grant-cost span {
    text-transform: uppercase;
    font-size: .5em; 
    display: inline-block;
    position: relative;
    line-height: 0;
    top: -25%;
}
.grant-cost-actual p {
    font-family: oswald;
    color: var(--lab-black);
    font-size: 2.5em;
    font-weight: 500;
}
.grant-classes {
    flex-grow: 1;
    position: relative;
    padding: .5rem 0 0;
}
.grant-classes::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-color: var(--lab-ambar);
    top: 0;
    left: 0;
    opacity: .25;
}
.grant-classes h5 {
    text-transform: uppercase;
    font-family: oswald;
    color: var(--lab-black);
    margin-bottom: 1rem;
    padding-top: .5rem;
}
.grant-classes p {
    margin: 0;
    padding: .25rem .5rem;
    font-size: 1em;
    color: var(--lab-black); 
    line-height: 1.5;
    font-size: 1em;
    position: relative;
}
.grant-classes p:nth-child(2n) {
    background-color: white;
}
.grant-buy {
    padding: 1rem;
    background-color: var(--lab-ambar);
}

.grant-cost-sold::before {
    content: 'Sold Out';
    position: absolute;
    top: 0;
    color: var(--lab-red);
    text-transform: uppercase;
    font-family: oswald;
    font-weight: 700;
    border: 2px solid var(--lab-red);
    padding: .5rem .5rem .4rem;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90px;
    bottom: 0;
    max-height: 42px;
    z-index: 2;
}
.grant-cost-sold > h5, 
.grant-cost-sold > p {
    opacity: .5;
}

.grant-container.grant-box-vip,
.grant-box-vip .grant-cost > *,
.grant-box-vip .grant-cost-past  {
    border-color: var(--lab-blue);
}
.grant-box-vip .grant-header,
.grant-box-vip .grant-classes::before,
.grant-box-vip .grant-buy {
    background-color: var(--lab-blue);
}
.grant-box-vip .grant-cost-actual h5 {
    color: var(--lab-blue);
}

.grant-container.grant-box-group,
.grant-box-group .grant-cost > *,
.grant-box-group .grant-cost-past  {
    border-color: var(--lab-green);
}
.grant-box-group .grant-header,
.grant-box-group .grant-classes::before,
.grant-box-group .grant-buy {
    background-color: var(--lab-green);
}
.grant-box-group .grant-cost-actual h5 {
    color: var(--lab-green);
}

.cta { 
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center; 
}
.cta.cta--green {
    background-color: var(--lab-green); 
}
.cta.cta--ambar {
    background-color: var(--lab-ambar); 
}
.cta .block--subtitle {
    font-size: 2.25em;
    font-weight: 500;
    color: var(--lab-black);
    margin-bottom: 1.5rem;
}

.messenger {
    position: fixed;
    z-index: 9;
    bottom: 0;
    background-image: url(icons/messenger.png);
    background-repeat: no-repeat;
    background-position: 24px center;
    background-color: #2866B0;
    color: white;
    font-family: oswald;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem 2rem; 
    padding-left: 4rem;
    right: 0;
    transition: .3s background-color;
}
.messenger:hover {
    background-color: var(--lab-black);
}