{# MIANPAGE: Content + PostContent #}
<main id="mainpage" class="mainpage" data-spy="scroll" data-target=".menu--main" data-offset="0">
    {% if page.pban %}
    <section class="mainpage-banner">
        {{ page.pban }}
    </section>
    {% endif %}

    {% if page.tabs and logged_in %}
    <section class="only-tabs">
        {{ page.tabs }}
    </section>
    {% endif %}

    <section class="mainpage-content"> 
        {{ page.content }} 
    </section>

    {% if page.pc %}
    <section class="mainpage-postcontent">
        {{ page.pc }}
    </section>
    {% endif %}

    {% if page.forms %}
    <section id="labform" class="mainpage-formcontent line-top">
        <div class="contenedor">
            {{ page.forms }}
        </div>
    </section>
    {% endif %}

    {% if page.pfoo %}
    <section class="mainpage-prefooter">
        {{ page.pfoo }}
    </section>
    {% endif %}
</main>