{% if page.foo_top or page.foo_bottom %}
<footer class="footerpage">
    <div class="contenedor footerpage-contenedor"> 
        <div class="foo--top">
            {{ page.foo_top }}
        </div>
        <div class="foo--bottom">
            {{ page.foo_bottom }}
        </div>
    </div> 
</footer>
{% endif %}