{% if page.header %}
<header class="headerpage">
    <div class="contenedor headerpage-contenedor">
        {{ page.header }}
        {% include '@arky8/@includes/burger.html.twig' %}
    </div>
</header>
{% endif %}