{# ---------------------------------------- #}
{# EMPIEZA EL NODO DE PAGINA                #}
{# ---------------------------------------- #}

{% if view_mode == 'teaser' %} {# Product full page (teaser). #}

<article{{ attributes.addClass('div-teaser') }}> 

{{ title_prefix }} 
{{ title_suffix }}

    <h3>{{ TITULO }}</h3>

</article>

{% elseif view_mode == 'prefooter' %} {# Product full page (prefooter). #}

<div{{ attributes.addClass('div-prefooter') }}> 

{{ title_prefix }} 
{{ title_suffix }}

<style>

.location--bg.bglazy {
  background-image: url('{{ file_url(node.field_ftw_location_bg.entity.fileuri | image_style('thumbnail')) }}');
}
.location--bg.bglazy.visible {
  background-image: url('{{ file_url(node.field_ftw_location_bg.entity.fileuri) }}');
}

</style>

<section class="location"> 
    <div class="contenedor location--contenedor">
        <article class="location--block">
            {% if node.field_ftw_location.value %}
                <div class="location--text">
                    {{ content.field_ftw_location }} {# Campo Location #}
                </div>
            {% endif %}  
            <figure class="location--map">
                {{ content.field_ftw_location_iframe }}
            </figure> 
        </article>
    </div>
    {% if node.field_ftw_location_bg[0].value|length > 0 %} {# Campo Location Bg #} 
    <div class="location--bg bglazy"></div>
    {% endif %}
</section>

</div> 

{% elseif view_mode == 'copyright' %} {# Product full page (copyright). #}

<div{{ attributes.addClass('div-copyright') }}> 

{{ title_prefix }} 
{{ title_suffix }}

<section class="copyright"> 
    <div class="copyright--contenedor">
        
            {% if node.field_ftw_foo_copyright.value %}
                <div class="copyright--text">
                    {{ content.field_ftw_foo_copyright }} {# Campo Copyright #}
                </div>
            {% endif %} 
            {% if node.field_ftw_foo_copyright_img[0].value|length > 0 %} {# Campo Copyright Img #}
            <figure class="copyright--image">
                <div>
                    <img 
                        class="lazy" alt="Lab4" title="Lab4"
                        data-src="{{ file_url(node.field_ftw_foo_copyright_img[0].entity.fileuri) }}" 
                        data-srcset="{{ file_url(node.field_ftw_foo_copyright_img[0].entity.fileuri) }}" 
                        loading="lazy" />
                    <noscript>
                      <img alt="Lab4" title="Lab4" src="{{ file_url(node.field_ftw_foo_copyright_img[0].entity.fileuri) }}}">
                    </noscript>
                </div>
                <div>
                    <img 
                        class="lazy" alt="The Pacific Alliance" title="The Pacific Alliance"
                        data-src="{{ file_url(node.field_ftw_foo_copyright_img[1].entity.fileuri) }}" 
                        data-srcset="{{ file_url(node.field_ftw_foo_copyright_img[1].entity.fileuri) }}" 
                        loading="lazy" />
                    <noscript>
                      <img alt="Lab4" title="Lab4" src="{{ file_url(node.field_ftw_foo_copyright_img[1].entity.fileuri) }}}">
                    </noscript> 
                </div>
            </figure>
            {% endif %}
    </div>
</section>

</div> 

{% elseif view_mode == 'data' %} {# Product full page (data). #}

<div{{ attributes.addClass('div-data') }}> 

{{ title_prefix }} 
{{ title_suffix }}

<section class="data"> 
    <div class="data--contenedor">
        
            {% if node.field_ftw_foo_data_logo[0].value|length > 0 %} {# Campo Data Logo Img #}
            <figure class="data--image">
                <img 
                    class="lazy" alt="" title=""
                    data-src="{{ file_url(node.field_ftw_foo_data_logo.entity.fileuri) }}" 
                    data-srcset="{{ file_url(node.field_ftw_foo_data_logo.entity.fileuri) }}" 
                    loading="lazy" />
                <noscript>
                    <img alt="" title="" src="{{ file_url(node.field_ftw_foo_data_logo.entity.fileuri) }}}">
                </noscript> 
            </figure>
            {% endif %}

            {% if content.field_ftw_data_social_link[0] %}
                <div class="data-links">
                    {% for key, item in content.field_ftw_data_social_link if key|first != '#' %}
                    <div class="data-link data-link-item-0{{ loop.index }}">{{ item }}</div>
                    {% endfor %}
                </div>
            {% endif %}

    </div>
</section>

</div> 

{% else %} {# Product full page (default). #}

<section{{ attributes.addClass('aw') }}> 
{{ title_prefix }} 
{{ title_suffix }}

<div class="contenedor">

    <header class="aw-head">
        <h1 id="title" class="title">{{ node.label }}</h1>
    </header>

    {% if node.field_intro.value %}
    <article class="aw-intro"> 
        {{ content.field_intro }} 
    </article>
    {% endif %} 

    {% if node.body.value %}
    <article class="aw-body"> 
        {{ content.body }} 
    </article>
    {% endif %} 

</div>

</section> {# CULMINA EL DIV DEL NODE #}

{% endif %}