{% if view_mode == 'teaser' %} {# Product full page (teaser). #}

<article{{ attributes.addClass('div-teaser') }}> 

    <h3>{{ node.label }}</h3>

</article>

{% elseif view_mode == 'faqs' %} {# Product full page (logoslink). #}

    {% if content.field_faq[0] %}

    <article{{ attributes.addClass('div-faq line-top') }}> 

    <div class="contenedor">

            <div class="faq-container" id="accordion" role="tablist" aria-multiselectable="true">
                {% for key, item in content.field_faq if key|first != '#' %}
                <div class="faq-item faq-item-0{{ loop.index }}">{{ item }}</div>
                {% endfor %}
            </div>

    </div>
    
    </article>

    {% endif %} 

{% else %} {# Product full page (default). #}

<section{{ attributes.addClass('aw') }}> 
{{ title_prefix }} 
{{ title_suffix }}

<div class="contenedor">

    <article class="aw-only">
 
    <div class="aw-only-text">  

        <header class="aw-head">
            <h3 id="subtitle" class="subtitle"><a href="./">FAQ</a></h3>
            <h1 id="title" class="title">{{ node.label }}</h1>
        </header>

        {% if node.field_intro.value %}
        <article class="aw-intro"> 
            {{ content.field_intro }} 
        </article>
        {% endif %} 

        {% if node.body.value %}
        <article class="aw-body"> 
            {{ content.body }} 
        </article>
        {% endif %} 
 
    </div> 

</div>

</section> 

{% endif %}