{# ---------------------------------------- #}
{# EMPIEZA EL NODO DE PAGINA                #}
{# ---------------------------------------- #}

{% if view_mode == 'teaser' %} {# Product full page (teaser). #}

<article{{ attributes.addClass('div-teaser') }}> 

{{ title_prefix }} 
{{ title_suffix }}

<style>

/*.bgs-{{ node.field_id.value }} {
  background-image: url('{{ file_url(node.field_background.entity.fileuri | image_style('thumbnail')) }}');
}*/
.bgs-{{ node.field_id.value }}.visible {
  background-image: url('{{ file_url(node.field_background.entity.fileuri) }}');
}

</style>

    <a href="#" data-toggle="modal" data-target="#{{ node.field_id.value }}" class="experiences bglazy bgs-{{ node.field_id.value }}">
        <h3>{{ node.label }}</h3>
        <span>{{ 'See more'|t }}</span>
    </a>

</article>

{% elseif view_mode == 'paragraph' %} {# Product full page (paragraph). #}

    {% if content.field_paragraphs[0] %}

    <article{{ attributes.addClass('div-paragraph line-top') }}> 

    <div class="contenedor">

        <h4 class="block--minititle">{{ node.field_paragraph_title.value }}</h4>

            <div class="paragraph-container">
                {% for key, item in content.field_paragraphs if key|first != '#' %}
                <div class="paragraph-item paragraph-item-0{{ loop.index }}">{{ item }}</div>
                {% endfor %}
            </div>

    </div>

    </article>

    {% endif %} 

{% elseif view_mode == 'modal' %} {# Product full page (joining). #}

<article{{ attributes.addClass('div-modal modal fade') }} id="{{ node.field_id.value }}" tabindex="-1" role="dialog" aria-labelledby="{{ node.field_id.value }}-modal" aria-hidden="true"> 

{{ title_prefix }} 
{{ title_suffix }}

<style>

/*.mheader-{{ node.field_id.value }} {
  background-image: url('{{ file_url(node.field_background.entity.fileuri | image_style('thumbnail')) }}');
}*/
.mheader-{{ node.field_id.value }}.visible {
  background-image: url('{{ file_url(node.field_background.entity.fileuri) }}');
}

</style>

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header mheader-{{ node.field_id.value }} bglazy">
        <h5 class="modal-title">{{ node.label }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>
      <div class="modal-body">
        {{ content.field_intro }}
      </div>
    </div>
  </div>

</article>

{% elseif view_mode == 'colorbox' %} {# Product full page (colorbox). #}

    {% if node.field_colorbox.value|length > 0 %}

        <article{{ attributes.addClass('div-colorbox line-top') }}> 

        <div class="contenedor">

            <h4 class="block--minititle">{{ node.field_colorbox_title.value }}</h4>
            
            {% include directory ~ '/templates/@includes/photoswipe.html.twig' %} {# includes photoswiper #}

        </div>

        </article>
    {% endif %}

{% elseif view_mode == 'logoslink' %} {# Product full page (logoslink). #}

    {% if content.field_logos_link[0] %}

    <article{{ attributes.addClass('div-logoslink line-top') }}> 

    <div class="contenedor">

        <h4 class="block--minititle">{{ node.field_logos_.value }}</h4>

            <div class="logoslink-container">
                {% for key, item in content.field_logos_link if key|first != '#' %}
                <div class="logoslink-item logoslink-item-0{{ loop.index }}">{{ item }}</div>
                {% endfor %}
            </div>

    </div>

    </article>

    {% endif %} 

{% else %} {# Product full page (default). #}

<section{{ attributes.addClass('aw') }}> 
{{ title_prefix }} 
{{ title_suffix }}

<div class="contenedor">

    <article class="aw-only">
 
    <div class="aw-only-text">  

        <header class="aw-head">
            <h1 id="title" class="title">{{ node.label }}</h1>
        </header>

        {% if node.field_intro.value %}
        <article class="aw-intro"> 
            {{ content.field_intro }} 
        </article>
        {% endif %} 

        {% if node.body.value %}
        <article class="aw-body"> 
            {{ content.body }} 
        </article>
        {% endif %} 
 
    </div>

</div>

</section> {# CULMINA EL DIV DEL NODE #}

{% endif %}