{# ---------------------------------------- #}
{# EMPIEZA EL NODO DE PAGINA                #}
{# ---------------------------------------- #}

{% if view_mode == 'teaser' %} {# Product full page (teaser). #}

<article{{ attributes.addClass('div-teaser') }}> 

{{ title_prefix }} 
{{ title_suffix }}

    <h3>{{ TITULO }}</h3>

</article>

{% elseif view_mode == 'about' %} {# Product full page (about). #}

<div{{ attributes.addClass('div-about') }}> 

{{ title_prefix }} 
{{ title_suffix }}

{% if node.field_hp_about_txt.value %}

{% if node.field_hp_about_bg[0].value|length > 0 %} {# Campo About Bg #} 
<style>
    .about {
        background-image: url('{{ file_url(node.field_hp_about_bg.entity.fileuri | image_style('thumbnail') ) }}');
    }
    .about.visible {
        background-image: url('{{ file_url(node.field_hp_about_bg.entity.fileuri) }}');
    }
</style>
<section class="about bglazy"> 
{% else %}
<section class="about">
{% endif %}
    <div class="contenedor about--contenedor">
        <article class="about--block"> 
                <div class="about--text">
                    {{ content.field_hp_about_txt }} {# Campo About Text #}
                </div>
                <div class="about--link">
                    {{ content.field_hp_about_link }}
                </div>
        </article>
    </div> 
</section>

{% endif %}  

</div> 

{% elseif view_mode == 'carousel' %} {# Product full page (joining). #}

<div{{ attributes.addClass('div-carousel') }}> 

{{ title_prefix }} 
{{ title_suffix }}

{% if node.field_carousel.value|length > 0 %} 

        <div class="swiper-container swipper-container-pagination carousel-container"> 
            {% if content.field_carousel[0] %}
                <div class="swiper-wrapper">
                    {% for key, item in content.field_carousel if key|first != '#' %}
                        <div class="swiper-slide slide-0{{ loop.index }}">{{ item }}</div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            {% endif %} 
        </div>

{% endif %}  

</div> 

{% elseif view_mode == 'experiences' %} {# Product full page (experiences). #}

<div{{ attributes.addClass('div-experiences').setAttribute('id', 'schedule') }}> 

{{ title_prefix }} 
{{ title_suffix }}

    <div class="experiences--cover">
        <div class="contenedor">
            <div class="experiences--cover-title">
                <h5 class="block--subtitle">{{ 'Schedule'|t }}</h5>
                <h4 class="block--title">{{ 'Experiences'|t }}</h4>
            </div>
            <div class="experiences--cover-text">
                {{ content.field_hp_experiences_intro }} {# Campo Experiences Text #}
            </div>
        </div>
    </div>

    {% if content.field_hp_experiences[0] %}
        <div class="experiences-container">
            {% for key, item in content.field_hp_experiences if key|first != '#' %}
            <div class="experiences-item experiences-item-0{{ loop.index }}">{{ item }}</div>
            {% endfor %}
        </div>
    {% endif %} 

    <div class="experiences--link">
        {{ content.field_hp_experiences_link }}
    </div>

    <div class="cta cta--ambar">
            <div class="contenedor">
                <h4 class="block--subtitle">{{ node.field_hp_experiences_footer.value }}</h4>
                <p><a class="btn btn--red" href="#tickets">{{ 'Buy your tickets here'|t }}</a></p>
            </div>
    </div>

</div>

{% elseif view_mode == 'new_tracks' %} {# Product full page (new tracks). #}

<div{{ attributes.addClass('div-new-tracks').setAttribute('id', 'tracks') }}> 

{{ title_prefix }} 
{{ title_suffix }}

    <div class="experiences--cover">
        <div class="contenedor">
            <div class="experiences--cover-title"> 
                <h4 class="block--title">{{ 'A track for every one'|t }}</h4>
            </div>
            <div class="experiences--cover-text">
                {{ content.field_hp_tracks_intro }} {# Campo Experiences Text #}
            </div>
        </div>
    </div>

    {% if content.field_hp_tracks[0] %}
        <div class="experiences-container new-tracks-fix">
            {% for key, item in content.field_hp_tracks if key|first != '#' %}
            <div class="experiences-item experiences-item-0{{ loop.index }}">{{ item }}</div>
            {% endfor %}
        </div>

        <div class="cta cta--ambar">
            <div class="contenedor">
                <h4 class="block--subtitle">{{ node.field_hp_track_footer.value }}</h4>
                <p><a class="btn btn--red" href="#tickets">{{ 'Buy your tickets here'|t }}</a></p>
            </div>
        </div>
    {% endif %}  

</div>

{% elseif view_mode == 'why_attend' %} {# Product full page (why attend). #}

<div{{ attributes.addClass('div-experiences').setAttribute('id', 'attend') }}> 

{{ title_prefix }} 
{{ title_suffix }}

    <div class="experiences--cover">
        <div class="contenedor">
            <div class="experiences--cover-title"> 
                <h4 class="block--title">{{ 'Why Attend?'|t }}</h4>
            </div>
            <div class="experiences--cover-text">
                {{ content.field_why_attend_intro }} {# Campo Experiences Text #}
            </div>
        </div>
    </div>

    {% if content.field_why_attend[0] %}
        <div class="experiences-container why-attend-fix">
            {% for key, item in content.field_why_attend if key|first != '#' %}
            <div class="experiences-item experiences-item-0{{ loop.index }}">{{ item }}</div>
            {% endfor %}
        </div>

        <div class="cta cta--ambar">
            <div class="contenedor">
                <h4 class="block--subtitle">{{ node.field_why_attend_footer.value }}</h4>
                <p><a class="btn btn--red" href="#tickets">{{ 'Buy your tickets here'|t }}</a></p>
            </div>
        </div>
    {% endif %}  

</div> 

{% elseif view_mode == 'modal' %} {# Product full page (modal-experiences). #}

<div{{ attributes.addClass('div-modal') }}> 

{{ title_prefix }} 
{{ title_suffix }}

    {% if content.field_hp_experiences[0] %} 
        {% for key, item in content.field_hp_experiences if key|first != '#' %}
        <div class="modal-item modal-item-0{{ loop.index }}">{{ item }}</div>
        {% endfor %} 
    {% endif %} 

    {% if content.field_why_attend[0] %} 
        {% for key, item in content.field_why_attend if key|first != '#' %}
        <div class="modal-item modal-item-0{{ loop.index }}">{{ item }}</div>
        {% endfor %} 
    {% endif %} 

    {% if content.field_hp_tracks[0] %} 
        {% for key, item in content.field_hp_tracks if key|first != '#' %}
        <div class="modal-item modal-item-0{{ loop.index }}">{{ item }}</div>
        {% endfor %} 
    {% endif %} 

</div> 

{% elseif view_mode == 'tracks' %} {# Product full page (tracks). #}

<div{{ attributes.addClass('div-tracks') }}> 

{{ title_prefix }} 
{{ title_suffix }}

    <div class="contenedor"> 

    {% if node.field_hp_track_bottom.value|length > 0 %} 

        <div class="div-tracks-container">

            <h4 class="block--title">{{ 'Our Values'|t }}</h4>

            <div class="tracks-container"> 
                {% if content.field_hp_track_bottom[0] %}
                    <div class="tracks-wrapper">
                        {% for key, item in content.field_hp_track_bottom if key|first != '#' %}
                            <div class="tracks-item tracks-item-0{{ loop.index }}">{{ item }}</div>
                        {% endfor %}
                    </div> 
                {% endif %} 
            </div>

        </div>

    {% endif %}  

    </div>

</div> 

{% elseif view_mode == 'joining' %} {# Product full page (joining). #}

<div{{ attributes.addClass('div-joining') }}> 

{{ title_prefix }} 
{{ title_suffix }}

{% if node.field_joining.value|length > 0 %} 

        <div class="swiper-container swipper-container-navigation joining-container">
            <h4 class="block--title">{{ "Who is Joining?"|t }}</h4>
            {% if content.field_joining[0] %}
                <div class="swiper-wrapper">
                    {% for key, item in content.field_joining if key|first != '#' %}
                        <div class="swiper-slide slide-0{{ loop.index }}">{{ item }}</div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            {% endif %} 
        </div>

{% endif %}  

</div> 

{% else %} {# Product full page (default). #}

{% endif %}