{# ---------------------------------------- #}
{# EMPIEZA EL NODO DE PAGINA                #}
{# ---------------------------------------- #}

{% if view_mode == 'teaser' %} {# Product full page (teaser). #}

<article{{ attributes.addClass('div-teaser') }}> 

{{ title_prefix }} 
{{ title_suffix }}

<style>

/*.bgs-{{ node.field_id.value }} {
  background-image: url('{{ file_url(node.field_background.entity.fileuri | image_style('thumbnail')) }}');
}*/
.bgs-{{ node.field_id.value }}.visible {
  background-image: url('{{ file_url(node.field_background.entity.fileuri) }}');
}

</style>

    <a href="#" data-toggle="modal" data-target="#{{ node.field_id.value }}" class="bglazy experiences bgs-{{ node.field_id.value }}">
        <h3>{{ node.label }}</h3>
        <span>{{ 'See more'|t }}</span>
    </a>

</article>

{% elseif view_mode == 'modal' %} {# Product full page (joining). #}

<article{{ attributes.addClass('div-modal modal fade') }} id="{{ node.field_id.value }}" tabindex="-1" role="dialog" aria-labelledby="{{  node.field_id.value }}-modal" aria-hidden="true"> 

{{ title_prefix }} 
{{ title_suffix }}

<style>

/*.mheader-{{ node.field_id.value }} {
  background-image: url('{{ file_url(node.field_background.entity.fileuri | image_style('thumbnail')) }}');
}*/
.mheader-{{ node.field_id.value }}.visible {
  background-image: url('{{ file_url(node.field_background.entity.fileuri) }}');
}

</style>

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header mheader-{{ node.field_id.value }} bglazy">
        <h5 class="modal-title">{{ node.label }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ content.body }}
      </div>
    </div>
  </div>

</article>

{% else %} {# Product full page (default). #}

<section{{ attributes.addClass('aw') }}> 
{{ title_prefix }} 
{{ title_suffix }}

<div class="contenedor">

    <header class="aw-head">
        <h1 id="title" class="title">{{ node.label }}</h1>
    </header>

    {% if node.field_intro.value %}
    <article class="aw-intro"> 
        {{ content.field_intro }} 
    </article>
    {% endif %} 

    {% if node.body.value %}
    <article class="aw-body"> 
        {{ content.body }} 
    </article>
    {% endif %} 

</div>

</section> {# CULMINA EL DIV DEL NODE #}

{% endif %}