<div{{ attributes.addClass('aw')}}> 
{{ title_prefix }} 
{{ title_suffix }}

{% if node.field_image.value %}
<section class="awhite awbg" style="background-image: url({{ file_url(node.field_image.entity.fileuri) }})"> 
{% else %}
<section class="awith">
{% endif %} 

<div class="contenedor">

    <article class="aw-only">
 
        <div class="aw-only-text">  

            <header class="aw-head">
                <h1 id="title" class="title">{{ node.label }}</h1>
            </header>

            {% if node.field_intro.value %}
            <article class="aw-intro"> 
                {{ content.field_intro }} 
            </article>
            {% endif %} 

            {% if node.body.value %}
            <article class="aw-body"> 
                {{ content.body }} 
            </article>
            {% endif %} 
     
        </div>

    </article>

</div>

</section>

{% if node.field_body_secondary.value %}
<section class="awsec">
<div class="contenedor">

    <article class="body-secondary-field line-top">

        {% if node.field_body_secondary_title.value %}
        <h4 class="block--minititle">{{ node.field_body_secondary_title.value }}</h4>
        {% endif %} 
 
        <div class="body-secondary aw-body"> 
            {{ content.field_body_secondary }} 
        </div> 

    </article>

</div>
</section>
{% endif %} 

</div>