<article{{ attributes.addClass('faqs card') }}>

{{ title_prefix }} 
{{ title_suffix }}

        <div class="card-header" role="tab" id="faq-head-{{ paragraph.field_faq_id.value }}">
            <h5>
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq-{{ paragraph.field_faq_id.value }}" aria-expanded="false" aria-controls="faq-{{ paragraph.field_faq_id.value }}">
                {{ paragraph.field_faq_title.value }}
                 </a>
            </h5>
        </div>

        <div id="faq-{{ paragraph.field_faq_id.value }}" class="collapse card-body" role="tabpanel" aria-labelledby="faq-head-{{ paragraph.field_faq_id.value }}">
            {{ content.field_faq_body }}
        </div>

</article> 