{% if view_mode == 'teaser' %} 

<article{{ attributes.addClass('logos') }}>

{{ title_prefix }} 
{{ title_suffix }}
    
    {% if paragraph.field_il_img is not empty %} 
    <a 
        href="{{ paragraph.field_il_link.0.url }}" 
        target="{{ paragraph.field_il_link.0.url.external ? '_blank' : '_self' }}" 
        rel="{{ paragraph.field_il_link.0.url.external ? 'noopener' : '' }}" 
        class="logos--link" alt="{{ paragraph.field_il_title.value }}" title="{{ paragraph.field_il_title.value }}">
        <img src="{{ file_url(paragraph.field_il_img.entity.fileuri) }}" alt="{{ paragraph.field_il_title.value }}" title="{{ paragraph.field_il_title.value }}" />
    </a>
    {% endif %} 

</article>

{% else %}

<article{{ attributes.addClass('data-link') }}>

{{ title_prefix }} 
{{ title_suffix }}
    
    {% if paragraph.field_il_img is not empty %} 
    <a 
        href="{{ paragraph.field_il_link.0.url }}" 
        target="{{ paragraph.field_il_link.0.url.external ? '_blank' : '_self' }}" 
        rel="{{ paragraph.field_il_link.0.url.external ? 'noopener' : '' }}" 
        class="dlink" alt="{{ paragraph.field_il_title.value }}" title="{{ paragraph.field_il_title.value }}">
        <img src="{{ file_url(paragraph.field_il_img.entity.fileuri) }}" alt="{{ paragraph.field_il_title.value }}" title="{{ paragraph.field_il_title.value }}" />
    </a>
    {% endif %} 

</article>

{% endif %}