<article{{ attributes.addClass('paragraph') }}>

{{ title_prefix }} 
{{ title_suffix }}

    <div class="paragraph--text">
        <h4>{{ paragraph.field_pgh_title.value }}</h4>
        {{ content.field_pgh_txt }}
    </div> 
    
    {% if paragraph.field_pgh_img is not empty %} 
    <figure class="paragraph--image">
        <img src="{{ file_url(paragraph.field_pgh_img.entity.fileuri) }}" />
    </figure>
    {% endif %} 

</article>