<article{{ attributes.addClass('joining') }}>

{{ title_prefix }} 
{{ title_suffix }}

<div class="contenedor">

    <div class="joining-text">
        {{ content.field_pcs_txt }}
    </div> 

</div>

</article>