{% if paragraph.field_pcs_bg[0].value|length > 0 %} {# Campo Carousel Bg #} 

<style>

[data-carousel*='{{ paragraph.field_pcs_id.value }}'].visible {
    background-image: url('{{ file_url(paragraph.field_pcs_bg.entity.fileuri) }}');
}

</style>

<article{{ attributes.addClass('carousel bglazy') }} data-carousel="carousel-{{ paragraph.field_pcs_id.value }}"> 
{% else %}
<article{{ attributes.addClass('carousel') }}>
{% endif %}

{{ title_prefix }} 
{{ title_suffix }}

<div class="contenedor">

    {% if paragraph.field_pcs_main_logo is not empty %} 
        <figure class="carousel-logo">
            <img 
                class="lazy" alt="" title=""
                data-src="{{ file_url(paragraph.field_pcs_main_logo.entity.fileuri) }}" 
                data-srcset="{{ file_url(paragraph.field_pcs_main_logo.entity.fileuri) }}" 
                loading="lazy" />
            <noscript>
              <img alt="" title="" src="{{ file_url(paragraph.field_pcs_main_logo.entity.fileuri) }}}">
            </noscript> 
        </figure>
    {% endif %}

    <div class="carousel-text">
        {{ content.field_pcs_txt }}
    </div> 

    {% if paragraph.field_pcs_sec_logo is not empty %} 
        <p class="carousel-sub-logo">
            <span>{{ 'Powered by:'|t }}</span>
            <img 
                class="lazy" alt="" title=""
                data-src="{{ file_url(paragraph.field_pcs_sec_logo.entity.fileuri) }}" 
                data-srcset="{{ file_url(paragraph.field_pcs_sec_logo.entity.fileuri) }}" 
                loading="lazy" />
            <noscript>
              <img alt="" title="" src="{{ file_url(paragraph.field_pcs_sec_logo.entity.fileuri) }}}">
            </noscript> 
        </p>

    {% endif %}

    {% if paragraph.field_pcs_link is not empty %} 
    <div class="carousel-link">
        {{ content.field_pcs_link }}
    </div>
    {% endif %}

</div>

{% if paragraph.field_deco_left[0].value|length > 0 %}
    <style>
    .deco-left.visible {
        background-image: url('{{ file_url(paragraph.field_deco_left.entity.fileuri) }}')
    }
    </style>
        <div class="deco deco-left bglazy">
        </div>
{% endif %}

{% if paragraph.field_decor_right[0].value|length > 0 %}
    <style>
    .deco-right.visible {
        background-image: url('{{ file_url(paragraph.field_decor_right.entity.fileuri) }}')
    }
    </style>
        <div class="deco deco-right bglazy">
        </div>
{% endif %}

</article>