<article{{ attributes.addClass('tracks') }}>

{{ title_prefix }} 
{{ title_suffix }}
    
    {% if paragraph.field_tk_icono is not empty %} 
    <figure class="tracks--icon"> 
        <img 
            class="lazy" alt="{{ paragraph.field_tk_txt.value }}" title="{{ paragraph.field_tk_txt.value }}"
            data-src="{{ file_url(paragraph.field_tk_icono.entity.fileuri) }}" 
            data-srcset="{{ file_url(paragraph.field_tk_icono.entity.fileuri) }}" 
            loading="lazy" />
        <noscript>
          <img alt="{{ paragraph.field_tk_txt.value }}" title="{{ paragraph.field_tk_txt.value }}" src="{{ file_url(paragraph.field_tk_icono.entity.fileuri) }}}">
        </noscript>
    </figure>
    {% endif %} 



    {% if paragraph.field_tk_txt is not empty %} 
    <p class="tracks--text">
        {{ paragraph.field_tk_txt.value }}
    </p>
    {% endif %}

</article>