{%
  set body_classes = [
    'site',
    not root_path ? 'home' : 'inside-' ~ root_path|clean_class,
    language ? 'lang-' ~ language|clean_class,
    not logged_in ? 'off' : 'in',
    not node_type ? 'config' : 'node-' ~ node_type|clean_class,
    db_offline ? 'offline',
    term_id ? 'tx-' ~ term_id, 
    path_info.args ? 'path-' ~ path_info.args,
    current_path ? 'current-' ~ current_path|clean_class,
    not page.sidebar_first and not page.sidebar_second ? 'cols-0',
    page.sidebar_first and not page.sidebar_second ? 'cols-1',
    page.sidebar_second and not page.sidebar_first ? 'cols-2',
    page.sidebar_first and page.sidebar_second ? 'cols-x'
  ]
%}

<!DOCTYPE html>
<html {{ html_attributes }}>

<head>
  <head-placeholder token="{{ placeholder_token|raw }}">
  <title>{{ head_title|safe_join(' | ') }}</title>
  <meta property="fb:app_id" content=""> 

</head>

<body id="site" {{ attributes.addClass(body_classes) }}>

{% if logged_in %}

  <style media="all"> 
    {% include directory ~ '/templates/styles/arkyweb.css' ignore missing %}
  </style>  

{% else %}

  <style media="all">
    {% include directory ~ '/templates/styles/loader.css' ignore missing %}
    {% include directory ~ '/templates/styles/arkyweb.css' ignore missing %}
  </style> 
  {% include directory ~ '/templates/@includes/load.html.twig' ignore missing %}
  <script>
    {% include directory ~ '/templates/scripts/load.js' ignore missing %}
  </script>

{% endif %}

  {{ page_top }}
  {{ page }} 
  {{ page_bottom }}

{% if logged_in %}

{% else %}

<a class="messenger" href="http://m.me/Lab4Summit" target="_blank">
{{ 'Do you need some help?'|t }}
</a>

{% endif %}

  <css-placeholder token="{{ placeholder_token|raw }}">

  <script>
    {% include directory ~ '/templates/scripts/font.js' ignore missing %}
    {% include directory ~ '/templates/scripts/lazy.js' ignore missing %}
  </script> 

  <js-placeholder token="{{ placeholder_token|raw }}">
  <js-bottom-placeholder token="{{ placeholder_token|raw }}">

  <script id="mcjs">
    !function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/339c653b00489a96616fb7226/156f111cad52ff99dcad1fb39.js");
  </script>

</body>

</html>