{{ attach_library('arky8/styles') }}
{{ attach_library('arky8/styles_page') }}

<section id="arkyweb" class="arkyweb">

    {% include '@arky8/-regions/header.html.twig' %}
    {% include '@arky8/-regions/content-full.html.twig' %}
    {% include '@arky8/-regions/footer.html.twig' %}

</section> {# Acaba SECTION #}