{{ attach_library('arky8/styles') }}
{{ attach_library('arky8/styles_home') }}
{{ attach_library('arky8/include_modal') }}
{{ attach_library('arky8/include_swiper') }}

<section id="arkyweb" class="arkyweb">

	{% include '@arky8/-regions/header.html.twig' %}
	{% include '@arky8/-regions/content-full.html.twig' %}
    {% include '@arky8/-regions/footer.html.twig' %}

    {% include '@arky8/-regions/modal.html.twig' %}

</section> {# Acaba SECTION #}