{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}

{#    
  {% if site_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
  {% endif %}
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}

#}

{% if is_front %} 
    <h1 id="logo">
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="logo">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
        </a>
    </h1> 
{% else %} 
    <h2 id="logo">
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="logo">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
        </a> 
    </h2> 
{% endif %}

{% endblock %}